[submodule "vendors/requirejs"]
	path = vendors/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "vendors/three.js"]
	path = vendors/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "vendors/jquery"]
	path = vendors/jquery
	url = https://github.com/jquery/jquery.git
[submodule "vendors/underscore"]
	path = vendors/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "vendors/backbone"]
	path = vendors/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "wglbook/chapters"]
	path = wglbook/chapters
	url = https://github.com/tparisi/WebGLBook.git
[submodule "vendors/jquery-mousewheel"]
	path = vendors/jquery-mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
[submodule "vendors/sim.js"]
	path = vendors/sim.js
	url = https://github.com/MighteeCactus/Sim.js.git
[submodule "vendors/canvasquery"]
	path = vendors/canvasquery
	url = https://github.com/rezoner/CanvasQuery.git
